{% extends "GlukoseEnjolrasBundle::layout.html.twig" %}


{% block content %}
<div class="container">

    <div class="row">
        <div class="breadcrumb-line clearfix">
            <ul class="breadcrumb">
                <li><a href="{{path('glukose_enjolras_homepage')}}" accesskey="h" data-original-title="" title=""><span class="glyphicon glyphicon-home"></span></a></li>
                <li><a href="{{path('glukose_enjolras_homepage')}}" accesskey="h" data-original-title="" title="">Accueil</a></li>
                <li><a href="{{path('glukose_enjolras_subjects')}}" accesskey="h" data-original-title="" title="">Chouette Coop</a></li>
                <li><a href="{{path('glukose_enjolras_subjects')}}" accesskey="h" data-original-title="" title="">Liste des sujets</a></li>
                <li><a href="{{path('glukose_enjolras_oneSubject', {'idSubject': subject.id})}}" accesskey="h" data-original-title="" title="">{{subject.title}}</a></li>
                <li><a href="" accesskey="h" data-original-title="" title="">Vote</a></li>

            </ul>
        </div>
    </div>

    <div class="row bottom-buffer">
        <div class="row">
            <div class="col-md-12">
                {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>            
                    {{ flashMessage }}            
                </div>
                {% endfor %}
            </div>
            <div class="col-md-12">
                <div class="card noMargin">
                    <div class="row valign">
                        <div class="col-md-2">
                            <img src="{{asset('bundles/glukoseenjolras/images/logoVote.png')}}" width="150" height="" alt="Image d'un bulletin glissé dans une urne" />
                        </div>
                        <div class="col-md-10">
                            <h1>Vote : {{subject.title}}</h1>
                            <br />
                            <p>
                                {% for solution in subject.solutions %}
                                <a href="#" class="votebtn btn btn-default" id="{{solution}}">{{solution}}</a> 
                                <br />
                                <br />
                                {% endfor %}
                            </p>
                        </div>
                    </div>               

                    <div class="center">
                        <form id="voteForm" action="{{path('glukose_enjolras_voteCondorcet', {'idSubject':subject.id})}}" method="POST" >
                            <input id="myvote" type="hidden" name="myvote" />
                            <input type="submit" class="btn btn-success" value="A voté !" />
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <br />
    <br />


</div>

{% endblock %}

{% block jquery %}
<script type="text/javascript">
    $(document).ready(function() {

        $(".votebtn").on('click' ,function() {             
            $(".votebtn").each( function(){
                $(this).attr('class', 'votebtn btn btn-default');    
            });
            
            $("#myvote").attr('value', $(this).attr('id') + '>');
            $(this).attr('class', 'votebtn btn btn-primary');
        });

        /*$("#voteForm").submit(function(e) {
            var self = this;
            e.preventDefault();



            self.submit();

        });*/


    });

</script>  
{% endblock %}
