{% extends "layout.html.twig" %}


{% block content %}
    <div class="container-fluid whitey">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{path('app_home')}}" accesskey="h" data-original-title="" title=""><span class="fa fa-home"></span></a></li>
                <li class="breadcrumb-item"><a href="{{path('app_home')}}" accesskey="h" data-original-title="" title="">Accueil</a></li>
                <li class="breadcrumb-item" ><a href="{{path('glukose_enjolras_subjects')}}" accesskey="h" data-original-title="" title="">Décisions</a></li>
                <li class="breadcrumb-item" ><a href="{{path('glukose_enjolras_oneSubject', {'id': subject.id})}}" accesskey="h" data-original-title="" title="">{{ subject.title  }}</a></li>
                <li class="breadcrumb-item"><a href="#" accesskey="h" data-original-title="" title="">Vote</a></li>
            </ol>
        </nav>
    </div>

    <div class="container">

        <div class="row bottom-buffer">
            <div class="row">
                <div class="col-md-12">
                    {% for label, flashes in app.session.flashbag.all %}
                        {% for flash in flashes %}
                            <div class="alert alert-{{ label }} alert-dismissable">
                                {{ flash }}
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            </div>
                        {% endfor %}
                    {% endfor %}

                </div>
                <div class="col-md-12">
                    <div class="card p-4">
                        <div class="row valign">
                            <div class="col-md-2">
                                <img src="{{asset('images/logoVote.png')}}" width="150" height="" alt="Image d'un bulletin glissé dans une urne" />
                            </div>
                            <div class="col-md-10">
                                <h1>Vote : {{subject.title}}</h1>
                                <br />
                                <p>Le vote utilise une méthode de classement, dite de Condorcet, et permet de classer ses choix par ordre de préférence. <br /> Il vous suffit de "glisser/déposer" un des choix a gauche et de le placer dans la liste "Mon classement" à droite.</p>
                                <h3>Besoin d'aide pour voter ? </h3>
                                {#<p><a href="https://www.dailymotion.com/video/k56RYLNeNqXYE7r7mMY" > Consultez la vidéo tuto </a></p>#}
                                <img src="{{ asset('images/condorcet-vote.gif') }}" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 top-buffer">

                    <div data-force="30" class="layer block" style="">
                        <div class="layer title">Choix possibles</div>
                        <ul id="listChoices" class="block__list block__list_tags listSortChoix">
                            {% for solution in subject.solutions %}
                                <li id="{{solution.id}}">{{solution.title}}</li>
                            {% endfor %}
                        </ul>

                    </div>
                </div>
                <div class="col-md-6 top-buffer">

                    <div data-force="30" class="layer block" style="">
                        <div class="layer title">Mon classement</div>
                        <ul id="listVotes" class="block__list block__list_words listSort">

                        </ul>

                    </div>
                    <br />

                </div>

                <div class="col-md-12 top-buffer">
                    <div class="center">
                        <form id="voteForm" action="{{path('glukose_enjolras_voteCondorcet', {'id':subject.id})}}" method="post" >
                            <input id="myvote" type="hidden" name="myvote" />
                            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Enregistrer mon vote" />
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/chart.min.js') }}"></script>
    <script src="{{ asset('js/sortable.min.js') }}"></script>
{% endblock %}

{% block jquery %}
    <script type="text/javascript">
        $(document).ready(function() {

            //init of the two lists
            var listChoices = document.getElementById('listChoices');
            var listVotes = document.getElementById('listVotes');
            Sortable.create(listChoices, { group: "omega" });
            Sortable.create(listVotes, { group: "omega" });

            var listResult = '';
            $("#voteForm").submit(function(e) {
                var self = this;
                e.preventDefault();

                $("#listVotes li").each( function(key, value) {
                    listResult += $(this).attr('id') + '>';
                });
                //alert("toto" + listResult);
                $("#myvote").attr('value', listResult);

                //return false; //is superfluous, but I put it here as a fallback
                self.submit();

            });


        });

    </script>
{% endblock %}
