{% extends "GlukoseEnjolrasBundle::layout.html.twig" %}


{% block content %}
<div class="container">

    <div class="row">
        <div class="breadcrumb-line clearfix">
            <ul class="breadcrumb">
                <li><a href="" accesskey="h" data-original-title="" title=""><span class="glyphicon glyphicon-home"></span></a></li>
                <li><a href="" accesskey="h" data-original-title="" title="">Accueil</a></li>
                <li><a href="" accesskey="h" data-original-title="" title="">Chouette Coop</a></li>
                <li><a href="" accesskey="h" data-original-title="" title="">Liste des sujets</a></li>
                <li><a href="" accesskey="h" data-original-title="" title="">{{subject.title}}</a></li>

            </ul>
        </div>
    </div>

    <div class="col-md-12">
        {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>            
            {{ flashMessage }}            
        </div>
        {% endfor %}
    </div>

    <div class="row bottom-buffer">
        <div class="row">
            <div class="col-md-9">
                <div class="card noMargin">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>Sujet : {{subject.title}}</h1>
                        </div>
                        <div class="col-md-12 top-buffer">
                            <p>{{subject.description | raw}}</p> 
                            <hr>
                            {{dump(result)}}
                            {{dump(looser)}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="headMainTopic noMargin pending-color">
                    Décision en cours
                </div>
                <div class="card noMargin">
                    <div class="row">
                        <div class="col-md-12 center">
                            <h3>Résultats</h3>
                            <br />
                            <canvas id="chartResults" class="left-margin"></canvas>
                            <br />
                            <br />
                            <a href="{{path('glukose_enjolras_voteCondorcet', {'idSubject':subject.id})}}" class="btn btn-primary" >Voter</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row bottom-buffer">
        <div class="headMainTopic noMargin">
            Propositions
        </div>
        <div class="card noMargin">
            <div id="content">
                <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                    {% for solution in subject.solutions %}
                    {% if loop.first %}
                    <li class="active"><a href="#red-{{loop.index}}" data-toggle="tab">{{solution.title}}</a></li>
                    {% else %}
                    <li><a href="#red-{{loop.index}}" data-toggle="tab">Choix 2</a></li>
                    {% endif %}
                    {% endfor %}

                </ul>
                <div id="my-tab-content" class="tab-content">
                    {% for solution in subject.solutions %}
                    {% if loop.first %}
                    <div class="tab-pane fade in active" id="red-{{loop.index}}">
                        <div class="row top-buffer">
                            <div class="col-md-8">
                                <h1>{{solution.title}}</h1>
                                <div>{{solution.description | raw}}</div>
                            </div>
                        </div>

                        <div class="row top-buffer">
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div>{{solution.pros | raw}}</div>
                                    </div>
                                    <div class="col-md-6">                                        
                                        <div>{{solution.cons | raw}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row top-buffer">
                            <div class="col-md-12">
                                {{ knp_disqus_render('enjorlas', 
                                {
                                'identifier': '/solution/'~ solution.id ~'/', 'limit': 10, 
                                'sso': {
                                'user': {
                                'id' : '1',
                                'username' : 'kulemon',
                                'email': 'homzon@gmail.com',
                                },
                                'service': {
                                'name': 'MyAuthServiceProvider',
                                'icon': 'http://example.com/favicon.png',
                                'button': 'http://example.com/images/samplenews.gif',
                                'url': 'http://example.com/login/',
                                'logout': 'http://example.com/logout/',
                                'width': '400',
                                'height': '400'
                                }
                                }
                                },
                                'KnpDisqusBundle::list.html.twig') 
                                }}
                            </div>
                        </div>

                    </div>
                    {% else %}
                    <div class="tab-pane fade" id="red-{{loop.index}}">
                        <div class="row top-buffer">
                            <div class="col-md-8">
                                <h1>{{solution.title}}</h1>
                                <div>{{solution.description | raw}}</div>
                            </div>
                        </div>

                        <div class="row top-buffer">
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div>{{solution.pros | raw}}</div>
                                    </div>
                                    <div class="col-md-6">                                        
                                        <div>{{solution.cons | raw}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row top-buffer">
                            <div class="col-md-12">
                                {{ knp_disqus_render('enjorlas', 
                                {
                                'identifier': '/solution/'~ solution.id ~'/', 'limit': 10, 
                                'sso': {
                                'user': {
                                'id' : '1',
                                'username' : 'kulemon',
                                'email': 'homzon@gmail.com',
                                },
                                'service': {
                                'name': 'MyAuthServiceProvider',
                                'icon': 'http://example.com/favicon.png',
                                'button': 'http://example.com/images/samplenews.gif',
                                'url': 'http://example.com/login/',
                                'logout': 'http://example.com/logout/',
                                'width': '400',
                                'height': '400'
                                }
                                }
                                },
                                'KnpDisqusBundle::list.html.twig') 
                                }}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}                    
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('bundles/glukoseenjolras/js/chart.min.js') }}"></script>
{% endblock %}

{% block jquery %}
<script type="text/javascript">
    $( document ).ready(function() {
        var ctx = $("#chartResults").get(0).getContext("2d");
        //var myNewChart = new Chart(ctx);
        Chart.defaults.global.responsive = true;

        {% autoescape false  %}
        Chart.defaults.global.tooltipTemplate = '<%if (label){ %><%=label%> = <%}%><%= value %>';
         {% endautoescape %}


         var data = [
             {% for solution in subject.solutions %}
             {% if loop.first %}
             {
             value: 100,
             highlight:"#2c3e50",
             color: "#34495e",
             label: "{{solution.title}}"
             },

             {% else %}
             {
             value: 300,
             highlight:"#c0392b",
             color: "#e74c3c",
             label: "{{solution.title}}"
             },
             {% endif %}
             {% endfor%}
             {
             value: 150,
             highlight:"#27ae60",
             color: "#2ecc71",
             label: "Choix 3"
             },

         ];
          var myPieChart = new Chart(ctx).Pie(data, {//Boolean - Whether we animate the rotation of the Doughnut
              animateRotate : true,


          });

         });

</script>  
{% endblock %}
