{% extends "GlukoseEnjolrasBundle::layout.html.twig" %}


{% block content %}
<div class="container">

    <div class="row">
        <div class="breadcrumb-line clearfix">
            <ul class="breadcrumb">
                <li><a href="{{path('glukose_enjolras_homepage')}}" accesskey="h" data-original-title="" title=""><span class="glyphicon glyphicon-home"></span></a></li>
                <li><a href="{{path('glukose_enjolras_homepage')}}" accesskey="h" data-original-title="" title="">Accueil</a></li>
                <li><a href="{{path('glukose_enjolras_subjects')}}" accesskey="h" data-original-title="" title="">Chouette Coop</a></li>
                <li><a href="{{path('glukose_enjolras_subjects')}}" accesskey="h" data-original-title="" title="">Décisions</a></li>
                <li><a href="" accesskey="h" data-original-title="" title="">{{subject.title}}</a></li>

            </ul>
        </div>
    </div>

    <div class="col-md-12">
        {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>            
            {{ flashMessage }}            
        </div>
        {% endfor %}
    </div>

    <div class="row bottom-buffer">
        <div class="row">
            <div class="col-md-9">
                <div class="card noMargin">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>Publication des résultats : {{subject.title}}</h1>
                        </div>
                        
                        <div class="col-md-12 top-buffer">
                          <hr />
                            {% for key, solution in solutions %}
                            {% if not subject.voteSimple %}
                            <span class="label label-default">Id : {{ key }}</span> 
                            {% endif %}
                            
                            {{ solution }}<br />
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                
            </div>
        </div>
    </div>

    <div class="row bottom-buffer">
        <div class="headMainTopic noMargin">
            Liste des votes
        </div>
        <div class="card noMargin">
            <div id="content">
                <table class="table">
                    <thead>
                        <tr>
                            <td>Nom</td>
                            <td>Choix </td>
                        </tr>                    
                    </thead>
                    <tbody>
                        {% for vote in votes %}
                        <tr>
                            <td>{{ vote.user }}</td>
                            <td>
                                
                                {% if subject.voteSimple %}
                                    {{vote}}
                                {% else %}
                                {% set tab = vote.vote|split('>') %}
                                {% for element in tab %}
                                {% if not loop.first %}
                                &nbsp;>&nbsp;
                                {% endif %}                                 
                                
                                <a href="#" data-toggle="tooltip" title="{{attribute(solutions, element).title}}">{{element}}</a>                              
                                
                                {% endfor %}
                                {% endif %}
                            </td>                            
                        </tr>
                        {% endfor %}
                    </tbody>

                </table>


            </div>
        </div>
    </div>

</div>

{% endblock %}


{% block jquery %}
<script type="text/javascript">
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip({
        placement : 'top'
    });
});
</script>

{% endblock %}
