{% extends "GlukoseEnjolrasBundle::layout.html.twig" %}


{% block content %}
<div class="container">

    <div class="row">
        <div class="breadcrumb-line clearfix">
            <ul class="breadcrumb">
                <li><a href="" accesskey="h" data-original-title="" title=""><span class="glyphicon glyphicon-home"></span></a></li>
                <li><a href="" accesskey="h" data-original-title="" title="">Accueil</a></li>
                <li><a href="" accesskey="h" data-original-title="" title="">Chouette Coop</a></li>
                <li><a href="" accesskey="h" data-original-title="" title="">Liste des sujets</a></li>
                <li><a href="" accesskey="h" data-original-title="" title="">{{subject.title}}</a></li>
                <li><a href="" accesskey="h" data-original-title="" title="">Vote</a></li>

            </ul>
        </div>
    </div>

    <div class="row bottom-buffer">
        <div class="row">
            <div class="col-md-12">
                <div class="card noMargin">
                    <div class="row valign">
                        <div class="col-md-2">
                            <img src="{{asset('bundles/glukoseenjolras/images/logoVote.png')}}" width="150" height="" alt="Image d'un bulletin glissé dans une urne" />
                        </div>
                        <div class="col-md-10">
                            <h1>Vote : {{subject.title}}</h1>
                            <br />
                            <p>Le vote utilise une méthode de classement, dite de condorcet, et permet de classer ses choix par ordre de préférence. <br /> Il vous suffit de "glisser/déposer" un des choix a gauche et de le placer dans la liste "Mon classement" à droite.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 top-buffer">

                <div data-force="30" class="layer block" style="">
                    <div class="layer title">Choix possibles</div>
                    <ul id="listChoices" class="block__list block__list_tags listSortChoix">
                        {% for solution in subject.solutions %}
                        <li id="{{solution.id}}">{{solution.title}}</li>
                        {% endfor %}
                    </ul>

                </div>
            </div>
            <div class="col-md-6 top-buffer">

                <div data-force="30" class="layer block" style="">
                    <div class="layer title">Mon classement</div>
                    <ul id="listVotes" class="block__list block__list_words listSort">

                    </ul>

                </div>
                <br />
                <div class="center">
                    <form id="voteForm" action="{{path('glukose_enjolras_voteCondorcet', {'idSubject':subject.id})}}" method="POST" >
                        <input id="myvote" type="hidden" name="myvote" />
                        <input type="submit" class="btn btn-success" value="A voté !" />
                    </form>
                </div>
            </div>
        </div>
    </div>

    <br />
    <br />
    <div class="row bottom-buffer top-buffer">
        <div class="headMainTopic noMargin">
            Rappel des Propositions
        </div>
        <div class="card noMargin">
            <div id="content">
                <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                    {% for solution in subject.solutions %}
                    {% if loop.first %}
                    <li class="active"><a href="#red-{{loop.index}}" data-toggle="tab">{{solution.title}}</a></li>
                    {% else %}
                    <li><a href="#red-{{loop.index}}" data-toggle="tab">{{solution.title}}</a></li>
                    {% endif %}
                    {% endfor %}

                </ul>
                <div id="my-tab-content" class="tab-content">
                    {% for solution in subject.solutions %}
                    {% if loop.first %}
                    <div class="tab-pane fade in active" id="red-{{loop.index}}">
                        <div class="row top-buffer">
                            <div class="col-md-8">
                                <h1>{{solution.title}}</h1>
                                <div>{{solution.description | raw}}</div>
                            </div>
                        </div>

                        <div class="row top-buffer">
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div>{{solution.pros | raw}}</div>
                                    </div>
                                    <div class="col-md-6">                                        
                                        <div>{{solution.cons | raw}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    {% else %}
                    <div class="tab-pane fade" id="red-{{loop.index}}">
                        <div class="row top-buffer">
                            <div class="col-md-8">
                                <h1>{{solution.title}}</h1>
                                <div>{{solution.description | raw}}</div>
                            </div>
                        </div>

                        <div class="row top-buffer">
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div>{{solution.pros | raw}}</div>
                                    </div>
                                    <div class="col-md-6">                                        
                                        <div>{{solution.cons | raw}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}                    
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('bundles/glukoseenjolras/js/chart.min.js') }}"></script>
<script src="{{ asset('bundles/glukoseenjolras/js/sortable.min.js') }}"></script>
{% endblock %}

{% block jquery %}
<script type="text/javascript">
    $(document).ready(function() {

        //init of the two lists
        var listChoices = document.getElementById('listChoices');
        var listVotes = document.getElementById('listVotes');
        Sortable.create(listChoices, { group: "omega" });
        Sortable.create(listVotes, { group: "omega" });

        var listResult = '';
        $("#voteForm").submit(function(e) {
            var self = this;
            e.preventDefault();

            $("#listVotes li").each( function(key, value) {
                listResult += $(this).attr('id') + '>';                
            });
            //alert("toto" + listResult);
            $("#myvote").attr('value', listResult);  
            
            //return false; //is superfluous, but I put it here as a fallback
            self.submit();
            
        });


    });

</script>  
{% endblock %}
